/**
 * Ajax Auth modals design
 * Description: Ajax controlled front-end user login and registration modals css
 * Author: Thabo Mbuyisa
 * License: GNU GPL2+;
 * Last modified: 12 - 09 -16;
 */

 /* ----------------------- *\
    @font-face declarations
 \* ----------------------- */
@font-face {

	font-family: 'Avenir LT Std 85 Heavy';
	font-style: normal;
	font-weight: normal;
	src: local('../fonts/Avenir LT Std 85 Heavy'), url('AvenirLTStd-Heavy.woff') format('woff');
}

@font-face {

	font-family: 'Avenir LT Std 65 Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 65 Medium'), url('AvenirLTStd-Medium.woff') format('woff');
}

@font-face {

	font-family: 'Avenir LT Std 35 Light';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 35 Light'), url('AvenirLTStd-Light.woff') format('woff');
}

 /* ----------------------- *\
    Main form styling
 \* ----------------------- */
form.ajax-auth {

    display: none;
    z-index: 999;
	position: absolute;
    top: 170px;
	left: 50%;
	width: 350px;
	margin-left: -180px;
    padding: 20px 25px 20px 25px;
	background-color: #fafafa;
    font-family: avenir-medium, Arial, Helvetica, sans-serif;
    color: #575e5d;
    font-size: 14px;
}

.ajax-auth header {

	margin: 20px 0 30px;
}

.ajax-auth h1, .ajax-auth h3 {

    font-weight: 100;
    color: #575e5d;    
	line-height: 1;    
}

.ajax-auth h1 {

	font-family: avenir-heavy, Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
    margin: 0 0 10px 0;
}

.ajax-auth h3 {

	font-family: avenir-medium, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0;
    line-height: 1.5em;
}

.ajax-auth h3 a{

	color: #4dffbb;
}

.ajax-auth hr {

    background-color: rgba(0, 0, 0, 0.1);
    border: 0 none;
    height: 1px;
    margin: 20px 0;
}

 /* ----------------------- *\
    Input fields styling
 \* ----------------------- */
 
.ajax-auth input#username,
.ajax-auth input#password,
.ajax-auth input#signonname,
.ajax-auth input#email,
.ajax-auth input#signonpassword,
.ajax-auth input#password2 {

    border: 1px solid #EDEDED;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1) inset;
    color: #333333;
    font-size: 15px;
    padding: 15px 10px 15px 13px;
    width: 305px;
    margin: 7px 0 20px 0;
    background-color: #F9F9F9;
}

.ajax-auth input#username:focus,
.ajax-auth input#password:focus,
.ajax-auth input#signonname:focus,
.ajax-auth input#email:focus,
.ajax-auth input#signonpassword:focus,
.ajax-auth input#password2:focus {

    background-color: #FFF;
    border: 1px solid #4dffbb;
}

.ajax-auth label.error {

	display: none !important;
}

.ajax-auth input.error {

	border: 1px solid #FF0000 !important;
}

.ajax-auth input.submit_button {

	font-family: avenir-heavy, Arial, Helvetica, sans-serif;;
    font-size: 20px;
    color: #575e5d;
    border: 1px solid #4dffbb;
    background-color: #4dffbb;
    /*text-shadow: 0 1px 0 #007dd1;*/
    padding: 15px 31px 15px 31px;
    border-top: 1px solid #4dffbb;
    border-bottom: 1px solid #4dffbb;
    box-shadow: 0 1px 0 #00f3d7 inset;
    width: 100%;
    margin-top: 10px;
}

.ajax-auth a {

    text-decoration: none;
}

.ajax-auth a.close {

    color: #929292;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 1.7em;
}

.ajax-auth a.text-link {

	display: block;
    color: #4dffbb;
    text-align: right;
    margin: 15px 0 0 0;
    transition: all 0.3s ease;
}

.ajax-auth a.text-link:hover{

	color: #4dffbb;
}

.ajax-auth p.status {

    text-align: center;
    margin: 20px 0 20px 0;
    display: none;
}

a.login_button {

    font-family: avenir-medium, Arial, Helvetica, sans-serif;
    color: #fafafa;
    text-decoration: none;
    font-size: 16px;

    transition: all 0.3s ease;
}
a.login_button:hover {

  	color: #74ffca;
}

a.signup_button {

    font-family: avenir-medium, Arial, Helvetica, sans-serif;
    padding: 8px 10px;
    background-color: #4dffbb;
    border-radius: 2px;
    border: 1px solid #4dffbb;
    color: #3c3f3e;
    text-decoration: none;
    font-size: 16px;

    transition: all 0.4s ease;
}
a.signup_button:hover {

    background-color: #414645;
    color: #4dffbb;
    border: 1px solid rgba(255,255,255,0.0);
}
a.login_button i,
a.signup_button i {

    padding-right: 5px;
}

.login_overlay {

    height: 100%;
    width: 100%;
    background-image: url('../img/underbar-app-icon-green.svg');
    background-repeat: no-repeat;
    background-position: center 25px;
    background-color: #3c3f3e;
    /*opacity: 0.9;*/
    position: fixed;
    z-index: 998;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
@media only screen and (max-width:1024px) {

    form.ajax-auth { position: fixed; top: 150px; }
}
@media only screen and (max-width:768px) {

    form.ajax-auth { top: 50px; position: fixed; }

    .login_overlay { background-image: url('../img/underbar-app-icon-green.svg'); }
}
@media only screen and (max-width:680px) {

    form.ajax-auth { position: fixed; top: 100px; left: auto; margin: 20px; width: auto; }

    .login_overlay { overflow: hidden;　position: fixed; background-image: url('../img/underbar-app-icon-green-sml.svg'); }

     .ajax-auth input#username,
     .ajax-auth input#password,
     .ajax-auth input#signonname,
     .ajax-auth input#email,
     .ajax-auth input#signonpassword,
     .ajax-auth input#password2 { width: 100%; padding: 10px; margin: 7px 0 10px 0; }

     .ajax-auth h1 { font-size: 24px; }
     .ajax-auth h3 { font-size: 14px; }
}
@media only screen and (max-width:480px) {

    form.ajax-auth { left: auto; margin: 0px 20px; width: auto; }
     
}
@media only screen and (max-width:320px) {

    .ajax-auth h1 { font-size: 23px; }
}